{% block content %}

	{% include "events/calendar.html"%}

	<script>
		fetch('http://localhost:8000/events/get-all-events').then((response) => {
			return response.json();
		}).then((data) => {
			event = [];
			data.forEach((entry) => {
				const start = new Date(`${entry.fields.day} ${entry.fields.start_time}`);
				const end = new Date(`${entry.fields.day} ${entry.fields.end_time}`);
				start.get
				o = {
					start: (start.getHours() - 8) * 60 + start.getMinutes(),
					end: (end.getHours() - 8) * 60 + end.getMinutes()
				}
				event.push(o);
			})
			layOutDay(event);

			

		}).catch((err) => {
			throw err;
		});
	</script>
{% endblock %}